<!-- Link do CSS -->

<link rel="stylesheet" href="css/style.css">
.imagem-ilustrativa {
  text-align: center;
  margin: 40px 0;
}

.imagem-ilustrativa img {
  max-width: 25%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-in-out;
}


